@import "./_variables.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bs-page);
}

.bg-smokey{
  background-color: rgba(44, 44, 44, 0.497);
  backdrop-filter: blur(25px);
}

main {
  flex-grow: 1;
}
main {
  flex-grow: 1;
  background-image: url(https://images.unsplash.com/photo-1461342249744-29a57e9bd1cb?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
}

.pacifico {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}



.flower-img {
    height: 40dvh;

}

.font-big {
    font-size: 50px;
}

.bee-yellow {
    background-color: #fff700;
}

img:hover {
    cursor: pointer;
}

.text-shadow {
    text-shadow: 2px 2px #000000;
}
